In [6]:
import pandas as pd 

data = {"column 1":[4,1,2,3],"column 2":[5,4,1,6]}

df = pd.DataFrame(data)

print(df)

   column 1  column 2
0         4         5
1         1         4
2         2         1
3         3         6

In [2]:
data = [[4,5,1,2],[4,1,2,4]]

pd.DataFrame(data)

   0  1  2  3
0  4  5  1  2
1  4  1  2  4

In [8]:
print(df.iloc[1,1])

print(df.loc[1])

4
column 1    1
column 2    4
Name: 1, dtype: int64

In [9]:
df["column 3"] = [5,7,9,3]

print(df)

   column 1  column 2  column 3
0         4         5         5
1         1         4         7
2         2         1         9
3         3         6         3

In [17]:
df = df.append({"column 1":66,"column 2": 15,"column 3":94},ignore_index= True)

print(df)

   column 1  column 2  column 3
0         4         5         5
1         1         4         7
2         2         1         9
3         3         6         3
4        66        15        94

C:\Users\TYW\AppData\Local\Temp\ipykernel_7496\2690117857.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"column 1":66,"column 2": 15,"column 3":94},ignore_index= True)

In [18]:
df.drop(3,inplace= True)

print(df)

   column 1  column 2  column 3
0         4         5         5
1         1         4         7
2         2         1         9
4        66        15        94

In [19]:
df.drop("column 3", axis = 1, inplace = True)

print(df)

   column 1  column 2
0         4         5
1         1         4
2         2         1
4        66        15